.sm-right-sidebar {
  grid-area: right-sidebar;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--COLOR-HEADER-FONT-DARK);
  width: 100%;
  position: sticky;
  top: 8rem;
  height: 89vh;
}

.sm-right-sidebar-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 0 4rem;
}

.sm-suggested-users-container {
  margin-top: 3rem;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 960px) {
  .sm-right-sidebar {
    display: none;
  }
}
