/* MAIN STARTS */

.sm-main-user-homepage-container {
  display: flex;
  flex-direction: column;
  align-items: initial;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
}
.sm-main-user-homepage-container .sm-main-heading {
  font-size: 2.4rem;
  font-weight: 800;
}

.sm-home-new-post-conatiner {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 0 2rem;
}

.sm-home-avatar {
  margin-top: 6px;
}
.sm-home-text-area {
  background: var(--COLOR-BG);
  width: 100%;
  word-wrap: break-word;
  font-size: 1.6rem;
  /* padding: 1rem 1rem 3rem 1rem; */
  color: var(--COLOR-FONT);
  height: fit-content;
  background: var(--COLOR-BG);
  resize: none;
  outline: none;
  border: none;
  font-family: inherit;
  border-radius: 0;
  border-bottom: 1px solid var(--COLOR-HEADER-FONT-DARK);
  transition: all 0.2s ease-in;
}
.sm-home-new-post-conatiner textarea:focus {
  border: none;
  border-bottom: 1px solid var(--COLOR-HEADER-FONT-DARK);
}
.sm-home-feature-cta-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0 2rem 1rem;
  border-bottom: 1px solid var(--COLOR-HEADER-FONT-DARK);
}
.sm-home-image-upload-btn {
  margin-left: 7rem;
  font-size: 3rem;
  cursor: pointer;
}
.sm-home-image-upload-btn:hover {
  color: var(--COLOR-HEADER-FONT-DARK);
}

.sm-home-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}
.sm-home-select-sort {
  width: fit-content;
  color: var(--COLOR-HEADER-FONT-DARK);
  background: var(--COLOR-BG);
  padding: 1rem;
  font-weight: 700;
  border-radius: 5px;
  padding-inline-start: 1rem;
  padding-inline-end: 2rem;
  cursor: pointer;
}

.sm-home-select-sort:hover {
  border: 1px solid var(--COLOR-HEADER-FONT-DARK);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
}
