.sm-card-fav:hover {
  border: 0;
}

.sm-card-content-brand {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5px;
}

.sm-card-rating {
  margin-left: auto;
  color: var(--COLOR-HEADER-FONT-DARK);
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 1.8rem;
  margin-right: 8px;
  gap: 3px;
}

.sm-card-info .sm-card-info-price {
  font-weight: 800;
  gap: 10px;
  grid-gap: 10px;
}

.sm-card-info .sm-card-info-price-save {
  padding-bottom: 3px;
}

.sm-card .sm-card-content {
  padding: 5px;
}

.sm-card .sm-card-content .sm-card-info {
  padding: 0;
  gap: 3px;
}

.sm-card .sm-card-overlay {
  cursor: default;
}

.sm-card .sm-card-overlay .sm-card-overlay-text {
  background: var(--COLOR-RED);
  padding: 8px;
  font-size: 1.6rem;
  border-radius: 5px;
}

.sm-card .sm-card-content .sm-card-info .cart-btn {
  white-space: nowrap;
}

.sm-card {
  width: 24rem;
  cursor: default;
}

.icon-bd-top-right {
  font-size: 1.3rem;
  font-weight: 800;
}

.sm-card .sm-card-img {
  width: 100%;
  max-height: 24rem;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
  border-radius: 5px;
  background: var(--COLOR-WHITE-ALWAYS);
  padding: 2rem;
  cursor: pointer;
  border-bottom: 1px solid var(--COLOR-TEXT-GREY);
}

.sm-card-content .sm-card-content-title {
  cursor: pointer;
}
