/* MAIN PAGE */

html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

#root {
  min-height: 100vh;
  max-width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--COLOR-FONT);
  background: var(--COLOR-BG);
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  transition: all 0.2s ease-in;
}

.toast-container {
  font-size: 2rem;
  font-weight: 700;
}

.sm-main {
  grid-area: main;
  display: grid;
  grid-template-areas: "... left-sidebar content-area right-sidebar ...";
  grid-template-columns: 0.5fr 2fr 8fr 2fr 0.5fr;
  min-width: 100%;
  min-height: 100vh;
}

.sm-content-area {
  grid-area: content-area;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1.5rem 0;
}

.sm-react-loader-spinner {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  backdrop-filter: blur(4px);
}

.sm-react-loader-spinner svg {
  height: 30em;
  width: 30em;
}

@media only screen and (max-width: 960px) {
  #root .sm-main {
    grid-template-areas: "left-sidebar content-area";
    grid-template-columns: 0fr 6fr;
  }
}

@media only screen and (max-width: 480px) {
  #root .sm-main {
    grid-template-areas: "content-area";
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}
